@import "../../mixins.scss";

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 241, 241);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 5px;
  z-index: 100;

  @include sm {
    display: none;
  }

  a {
    text-decoration: none;
    color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 0.7rem;

    svg {
      height: 1rem;
      width: 3rem;
    }
  }
}
